@import "variables";

.nbx-button {
  background-color: $button-normal;
  border-radius: 2rem;
  border: none;
  box-shadow: $button-dropShadow;
  color: $text-heading;

  &--small {
    padding: 5px 20px;
    font-size: 14px;
  }
  &--large {
    padding: 14px 48px;
    font-size: 18px;
    font-weight: bold;
  }
  &:hover {
    opacity: 0.8;
  }
}


@media screen and (min-width: 480px) {
  .nbx-button {
    &--small {
      padding: 10px 48px;
      font-size: 16px;
    }
    &--large {
      padding: 14px 48px;
      font-size: 24px;
    }
  }
}
