header {
  width: 100%;
}


.nbx-header {
  width: 100%;
  margin: 0;

  &__fixedWrap {
    padding: 10px 0;
    background: #ffffff;
  }

  &__logo {
    width: 100px;
    height: auto;
  }

}



/* PC用 */
@media screen and (min-width: 480px) {
  .nbx-header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    &__fixedWrap {
      padding: 23px 0;
      background: #ffffff;
    }
    &__logo {
      width: 150px;
      height: auto;
    }
  }

}
