

/* テキスト系 */
$text-heading: #1b1b1b;
$text: #333;

/* ボタン系 */
$button-normal: #E3E143;
$button-dropShadow: 0 8px 16px #D6D6D6;


/* 背景色 */
$background-gray: #F5F5F5;


$fontSize-heading: 18px;
$fontSize-lead: 14px;

/* PC用 */
@media screen and (min-width: 480px) {
  $fontSize-heading: 24px;
  $fontSize-lead: 20px;
}
