
doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")
    body
        include ./common/_header
        main.nbx-main
            section.nbx-section.nbx-section__100
                #carousel.carousel.slide(data-ride="carousel", data-interval="0")
                    .carousel-inner
                        .carousel-item.nbx-carousel__item.active
                            img.nbx-carousel__image.d-block(src="/assets/img/index/carousel-sample.png" srcset="/assets/img/index/carousel-sample.png 1x, /assets/img/index/carousel-sample@2x.png 2x", alt="image1")
                            .carousel-caption.nbx-carousel__captionBackground
                                .nbx-carousel__captionArea
                                    .nbx-carousel__caption__heading リクルートの事業開発で培った
                                    .nbx-carousel__caption__heading UXデザイン設計プロセスにより
                                    .nbx-carousel__caption__heading 顧客目線のサービスを開発
                                    .nbx-carousel__caption__buttonArea
                                        a.nbx-button.nbx-button--large.nbx-carousel__caption__button(type="button") お問い合わせ
                        .carousel-item.nbx-carousel__item
                            img.nbx-carousel__image.d-block(src="/assets/img/index/carousel-sample.png" srcset="/assets/img/index/carousel-sample.png 1x, /assets/img/index/carousel-sample@2x.png 2x", alt="image2")
                        .carousel-item.nbx-carousel__item
                            img.nbx-carousel__image.d-block(src="/assets/img/index/carousel-sample.png" srcset="/assets/img/index/carousel-sample.png 1x, /assets/img/index/carousel-sample@2x.png 2x", alt="image3")
                    .nbx-carousel__ui
                        ol.carousel-indicators
                            li.active(data-target="#carousel" data-slide-to="0")
                            li(data-target="#carousel" data-slide-to="1")
                            li(data-target="#carousel" data-slide-to="2")
                        a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.sr-only Previous
                        a.carousel-control-next(href="#carousel", role="button", data-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only Next
            section.nbx-section
                h4.nbx-section__heading 企画から開発までトータルサポートします
                .nbx-section__content
                    .nbx-section__caption
                        | UXデザイナー・エンジニアを筆頭に、ディレクター・UIデザイナー・グロースハッカーなど、経験豊富な担当者を必要に応じて柔軟にアサインし、サービス立ち上げ時や既存のサービス課題を解決するため、企画からUXデザイン・システム開発までワンストップでご支援します。
            section.nbx-section
                h4.nbx-section__heading 3つのサービス特長
                 -
                    let serviceFeatures = [
                        {
                            imageUrl: "",   // TODO タグに反映させる
                            title: "ニーズ調査から制作まで<br>ワンストップでサポート",
                            body: "Webサービスの立ち上げや改善に必要なニーズ調査、サービス設計、UXデザイン、開発、制作など全工程をワンストップで行います。"
                        },
                        {
                            imageUrl: "",
                            title: "最新技術とノウハウを武器に<br>大規模案件も対応可能",
                            body: "リクルートグループを始め、大手クライアントとの実績多数。経験から得たノウハウと最新技術を武器に大規模案件にも対応します。"
                        },
                        {   imageUrl: "",
                            title: "最新技術とノウハウを武器に<br>大規模案件も対応可能",
                            body: "Webサービスの立ち上げや改善に必要なニーズ調査、サービス設計、UXデザイン、開発、制作など全工程をワンストップで行います。"
                        },
                    ]
                .nbx-section__content
                    .row.no-gutters
                        each item in serviceFeatures
                            .col-sm.nbx-card
                                .nbx-card__image
                                .nbx-card__heading !{item.title}
                                .nbx-card__caption !{item.body}


            .nbx-background--gray
                section.nbx-section
                    h4.nbx-section__heading 提供サービス
                    -
                        let providingServices = [
                            {
                               imageUrl: "",   // TODO タグに反映させる
                               title: "アイデア創出支援",
                               body: "国内はもちろん、世界2000都市以上の現地調査員と連携し、海外スタートアップ発のサービスや世にまだ知られていない急成長事業の調査・分析を実施。専門家による高品質なレポートをリーズナブルな価格でスピーディーに作成し、お客様の事業やサービスのもととなるアイデア創出のお手伝いをします。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                title: "コンセプト検証支援",
                                body: "検討している事業が想定しているターゲットユーザーに、ニーズがあるかを検証します。ユーザーインタビューによる定性調査に加え、Webアンケートによる定量調査を実施し、その反応を検証・分析。そのアイデアにニーズが本当にあるのかを、実際にプロダクトを制作する前に明らかにします。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                title: "ビジネスモデル検証支援",
                                body: "ビジネスモデルキャンバスに基づきビジネスモデルを整理いたします。目的に応じたMVP (Minimum Viable Product) を設計し、テストマーケティングを実施することで、コスト構造を含むビジネスモデルの検証を行うことができます。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                title: "プロダクト開発支援",
                                body: "実際のプロダクトに近い状態を体験できるプロトタイピングツールを使ってユーザーテストを行い、ユーザーの声を細かくキャッチアップ。ユーザーにとって使いやすいサービスになっているのかや、改善施策の検証を何度も繰り返し、サービスでの最適なユーザー体験を創出します。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                title: "サービス成長支援",
                                body: "数値の分析やユーザーテストを行い、リリース後のサービス課題を定量・定性の両面から調査します。調査結果を元にしたKGI/KPIの設計から、継続的な調査と改善施策の実施まで伴走することで、常にユーザーに選ばれるサービスづくりをお手伝いします。"
                            },

                        ]
                    each item, index in providingServices
                        .nbx-section__content
                            .nbx-card__large.nbx-card__large--noShadow
                                .row.no-gutters(class= index%2==0 ? "" : "nbx-rowReverse")
                                    .col-sm-5
                                        .nbx-card__large__image
                                    .col-sm-7
                                        .nbx-card__large__heading !{item.title}
                                        .nbx-card__large__caption !{item.body}

            .nbx-background--white
                section.nbx-section
                    h4.nbx-section__heading 実績紹介
                    .nbx-section__content
                        .nbx-section__caption
                            | ニジボックスが担当させて頂いてきたサービスをご紹介いたします。
                    -
                        let achieves = [
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                tags: ["UIデザイン", "開発"],
                                companyName: "株式会社リクルートライフスタイル",
                                serviceName: "じゃらん",
                                body: "宿・ホテル予約ならじゃらんnet。目的に合わせて簡単検索し豊富な観光情報と口コミであなたの旅行をサポートします。ニジボックスはデザインを担当させて頂きました。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                tags: ["UIデザイン", "開発"],
                                companyName: "株式会社リクルートライフスタイル",
                                serviceName: "じゃらん",
                                body: "宿・ホテル予約ならじゃらんnet。目的に合わせて簡単検索し豊富な観光情報と口コミであなたの旅行をサポートします。ニジボックスはデザインを担当させて頂きました。"
                            },
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                tags: ["UIデザイン", "開発"],
                                companyName: "株式会社リクルートライフスタイル",
                                serviceName: "じゃらん",
                                body: "宿・ホテル予約ならじゃらんnet。目的に合わせて簡単検索し豊富な観光情報と口コミであなたの旅行をサポートします。ニジボックスはデザインを担当させて頂きました。"
                            },
                        ]
                    each item in achieves
                        .nbx-section__content
                            .nbx-card__large
                                .row.no-gutters
                                    .col-sm-6
                                        .nbx-card__large__image
                                    .col-sm-6
                                        .nbx-achievesArea
                                            .nbx-achievesArea__tagList
                                                each tag in item.tags
                                                    .nbx-achievesArea__tag #{tag}
                                            .nbx-achievesArea__companyName #{item.companyName}
                                            .nbx-achievesArea__serviceName #{item.serviceName}
                                            .nbx-achievesArea__caption #{item.body}

            section.nbx-section
                .nbx-section__content__center
                    a.nbx-button.nbx-button--large(type="button") お問い合わせ/資料ダウンロード

            .nbx-background--gray
                section.nbx-section
                    h4.nbx-section__heading 多くのお客様にご利用いただいています
                    -
                        let responses = [
                            {
                                companyName: "株式会社xxxxx様",
                                title: "新規事業をする上で一緒にゴールを目指せるパートナー",
                                body: "こうした新規事業のプロジェクトでは、プロジェクトリーダーが孤独になってしまったり、当事者意識をなかなか強く持てなかったりする場合もあります。そんな時には、常に伴走してくれて、良いタイミングで背中を押してくれるようなチームメイトが居ると心強い。今回はニジボックスさんがいたおかげもあり、形になるまで走り切れたと思います。"
                            },
                            {
                                companyName: "株式会社xxxxx様",
                                title: "新規事業をする上で一緒にゴールを目指せるパートナー",
                                body: "こうした新規事業のプロジェクトでは、プロジェクトリーダーが孤独になってしまったり、当事者意識をなかなか強く持てなかったりする場合もあります。そんな時には、常に伴走してくれて、良いタイミングで背中を押してくれるようなチームメイトが居ると心強い。今回はニジボックスさんがいたおかげもあり、形になるまで走り切れたと思います。"
                            }
                        ]
                    each item in responses
                        .nbx-section__content
                            .nbx-card__large.nbx-card__large--noShadow
                                .row.no-gutters
                                    .col-sm-4
                                        .nbx-card__large__image
                                    .col-sm-8
                                        .nbx-responseArea
                                            .nbx-responseArea__companyName #{item.companyName}
                                            .nbx-responseArea__title #{item.title}
                                            .nbx-responseArea__body #{item.body}
            .nbx-background--white
                section.nbx-section
                    h4.nbx-section__heading サービス導入までの流れ
                    .nbx-section__content
                        .nbx-section__caption
                            | 初回コンサルティングまでは無料です。
                            <br>
                            | ご契約は50万円から承っております。
                    -
                        let introduceFlow = [
                            {
                                imageUrl: "",   // TODO タグに反映させる
                                title: "アイデアや依頼内容<br>などを送信",
                                body: "・営業担当または弊社コーポレートサ イトからお問い合わせ<br>・NDA（秘密保持契約書）を締結した上でご相談させて頂きます"
                            },
                            {
                                imageUrl: "",
                                title: "初回コンサルティング、<br>ご契約",
                                body: "・進め方のすり合わせと案件の特色を考慮し、最適な人材をアサイン<br>・すり合せの内容に問題なければ、まずは3ヶ月からのご契約をさせて頂きます"
                            },
                            {
                                imageUrl: "",
                                title: "インプット〜企画/<br>実作業の開始",
                                body: "・現課題から必要なフロー、フレーム ワーク、思考をインプット<br>・打ち合わせを中心に、サービス開発などを進めていきます"
                            },
                        ]
                    .nbx-section__content
                        .row.no-gutters
                            each item, index in introduceFlow
                                .col-sm.nbx-card.nbx-introduceFlowCard
                                    .nbx-introduceFlowCard__number 0#{index+1}
                                    .nbx-introduceFlowCard__title !{item.title}
                                    .nbx-introduceFlowCard__body !{item.body}
            .nbx-background--gray
                section.nbx-section
                    h4.nbx-section__heading よくあるご質問
                    -
                        let faq = [
                            {
                                question: "新規事業開発を任されたが、サービスアイデア創出で、<br>どのようにしたらいいかわからない",
                                answer: "急成長事業の調査・分析を実施し、事業やサービスのもと<br>となるアイデアの種探しをお手伝いします。"
                            },
                            {
                                question: "サービスをゼロから作ると初期費用がかかってしまう。<br>成功可能性が見えないので初期費用は可能な限り抑えたい。",
                                answer: "月額制で、低コスト・高パフォーマンスを実現。<br>ミニマムのチーム体制でスタートが可能なパッケージをご提供いたします。"
                            },
                            {
                                question: "やりたいサービスイメージはあるが、どのような技術を<br>採用して実装すればいいのかわからない。",
                                answer: "リクルートグループ、大手通信会社での新規webサービス/アプリ開発<br>を経験した、弊社エンジニアチームが技術面を全面サポートします。"
                            },
                        ]
                    each item in faq
                        .nbx-section__content
                            .nbx-card__large.nbx-card__large--noShadow
                                .nbx-faqCard
                                    .nbx-faqCard__question !{item.question}
                                    hr.nbx-faqCard__horizontalRule
                                    .nbx-faqCard__answer !{item.answer}



        include ./common/_footer
