

@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap.scss";

@import "common/variables";

@import "./common/_header.scss";
@import "./common/_button.scss";



html{
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.nbx-main {
  padding: 0;
}


.nbx-carousel {
  &__item {
    position: relative;
    overflow: hidden;
    padding-top: 100% - (600px / 1280px * 100%);
    height: 100vw;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__captionBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__captionArea {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
  }
  &__caption {
    &__heading {
      color: #ffffff;
      font-size: 14px;
      line-height: 36px;
      font-weight: bold;
    }

    &__buttonArea {
      margin-top: 30px;
      text-align: center;
    }
    &__button {
      box-shadow: 0 8px 16px #1b1b1b;
      color: $text-heading !important;
      font-size: 12px;
      padding: 5px 20px;
      &:hover {
        opacity: 1;
        background-color: #F6FB90;
      }
    }
  }
}

.nbx-section {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;

  &__100 {
    width: 100%;
    max-width: 100%;
  }

  &__heading {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: $text-heading;
  }

  &__content{
    margin: 30px 20px 0;
    &__center {
      text-align: center;
    }
  }

  &__caption {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    font-size: $fontSize-lead;
    line-height: 1.6;
    color: $text;
  }

}

.nbx-background--gray {
  padding-top: 100px;
  background-color: $background-gray;
}
.nbx-background--white {
  padding-top: 100px;
  background-color: #FFFFFF;
}

.nbx-card {
  background-color: #FFFFFF;
  box-shadow: 8px 8px 16px #D6D6D6;
  border-radius: 12px;
  margin: 0 15px 30px;
  padding: 0;
  overflow: hidden;

  &--noShadow{
    box-shadow: none;
    background-color: #FFFFFF;
  }

  &__image {
    width: 100%;
    height: 200px;
    background-color: #D6D6D6;
  }

  &__caption {
    width: 200px;
    margin: 0 auto 16px;
    font-size: 14px;
    color: $text;
  }

  &__heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 16px auto;
    line-height: 2;
  }
}



.nbx-card__large {
  background-color: #FFFFFF;
  box-shadow: 8px 8px 16px #D6D6D6;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;

  &--noShadow{
    box-shadow: none;
    background-color: #FFFFFF;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 262px;
    background-color: #D6D6D6;
  }

  &__caption {
    max-width: 80%;
    margin: 16px auto 40px;
    font-size: 14px;
    color: $text;
    line-height: 1.7;
  }

  &__heading {
    max-width: 80%;
    font-size: 18px;
    font-weight: bold;
    margin: 40px auto 0;
    line-height: 2;
    color: $text-heading;
  }


}

.nbx-achievesArea {
  margin: 30px;
  width: 100%;

  &__tagList {
    display: flex;
  }
  &__tag {
    background-color: $text-heading;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px 12px;
    margin: 0 12px 0 0;
  }
  &__companyName {
    font-size: 14px;
    font-weight: bold;
    margin: 23px 0 0;
    line-height: 2;
    color: $text-heading;
  }

  &__serviceName {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 2;
    color: $text-heading;
  }

  &__caption {
    margin: 16px 90px 0 0;
    font-size: 14px;
    line-height: 1.7;
    color: $text;
  }
}


.nbx-responseArea {
  width: 80%;
  margin: 50px auto;

  &__companyName {
    font-size: 16px;
    color: $text-heading;
    font-weight: bold;
  }

  &__title {
    font-size: 18px;
    color: $text-heading;
    font-weight: bold;
    margin-top: 16px;
  }

  &__body {
    color: $text;
    font-size: 14px;
    margin-top: 20px;
  }
}

.nbx-introduceFlowCard {
  margin-top: 20px;
  padding: 50px 31px;
  position: relative;
  overflow: visible;
  &__number {
    position: absolute;
    padding-left: 45px;
    font-size: 44px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 0;
    left: 30px;
  }
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin: 0 30px;
  }
  &__body {
    margin: 16px 30px 0;
    font-size: 14px;
    line-height: 1.7;
  }
}

.nbx-faqCard {
  margin: 15px 20px;
  font-size: 14px;
  line-height: 2;
  word-break: break-all;

  @mixin icon {
    position: absolute;
    left: 50%;
    font-size:22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
    font-weight: normal;
    transform: translate(-50%, -50%);
    top: 20px;
  }

  &__question {
    position: relative;
    font-weight: bold;
    margin: 0 0 21px;
    padding: 50px 20px 0 20px;

    &::before {
      @include icon;
      content: "Q";
      background-color: #1b1b1b;
      color: #ffffff;
    }

  }
  &__horizontalRule {
    color: #D6D6D6;
  }
  &__answer {
    position: relative;
    margin: 0 0 21px;
    padding: 50px 20px 0 20px;

    &::before {
      @include icon;
      content: "A";
      background-color: #E3E143;
      color: $text-heading;
    }

  }
}


.nbx-rowReverse {
  flex-direction: row-reverse;
}

          /* PC用 */
@media screen and (min-width: 480px) {

  .nbx-carousel {
    &__item {
      height: 100%;
    }
    &__caption {
      &__heading {
        font-size: 28px;
        line-height: 60px;
      }

      &__buttonArea {
        margin-top: 55px;
      }
      &__button {
        font-size: 20px;
        padding: 18px 130px;
      }
    }
  }



  .nbx-section {
    padding-bottom: 100px;

    &__heading {
      font-size: 24px;
    }

    &__content{
      margin: 30px 0 0;
    }

  }


  .nbx-faqCard {
    margin: 46px 80px;
    font-size: 18px;
    word-break: keep-all;

    @mixin icon {
      position: absolute;
      left: 140px;
      font-size:24px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      text-align: center;
      line-height: 1.8;
      font-weight: normal;
      transform: translate(-50%, -50%);
      top: 50%;
    }

    &__question {
      padding: 0 0 0 210px;

      &::before {
        @include icon;
        content: "Q";
        background-color: #1b1b1b;
        color: #ffffff;
      }

    }
    &__answer {
      padding: 0 0 0 210px;

      &::before {
        @include icon;
        content: "A";
        background-color: #E3E143;
        color: $text-heading;
      }

    }
  }

}


