header.sticky-top.nbx-header__fixedWrap
    .nbx-header.container-fluid
        .row.no-gutters.justify-content-between
            .col-6
                img.nbx-header__logo(src="/assets/img/common/logo.png", srcset="/assets/img/common/logo.png 1x, /assets/img/common/logo@2x.png 2x")
            .col-6
                .d-flex.align-items-center.h-100.float-right
                    button.nbx-button.nbx-button--small(type="button") お問い合わせ

